:root{
    --dark-color: #19283f;
    --green-color: #3ba5ec;
    --darkBlue-color: #0d6efd;
    --white-color: #fff;
    --section-color: #cbeffc; 
}

body{
    font-family: 'Roboto', sans-serif;
    
}

.main-btn{
    background-color: var(--darkBlue-color);
    color: var(--white-color);
}

.main-btn:hover{
    background-color: var(--green-color);
}

/*Start Navbar*/
.navbar{
    background-color: var(--dark-color);
    box-shadow: 0 5px 25px rgba(1 1 1 / 25%);
}

.navbar-brand img{
    display: flex;
    height: 50px;
    width: 50px;
}

.navbar .navbar-nav .nav-link{
    color: white;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-focus,
.navbar .navbar-nav .nav-link:hover{
    color: var(--green-color);
}

.navbar .search{
    border-left: 3px solid var(--green-color);
}

.navbar .search svg{
    color: var(--green-color);
}

.navbar .navbar-toggler{
    color: white;
    font-size: 25px;
    border-color: white;
    border: 2px solid;
}

.navbar .navbar-toggler[aria-expanded="true"]{
    border-color: var(--green-color);
}

.navbar .navbar-toggler:focus{
    box-shadow: none;
}
/*End Navbar*/

/*Start Landing*/
.landing{
    background: var(--dark-color);
    min-height: calc(100vh - 76px);
}

.main-title::after{
    content:'';
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.main-title img{
    display: flex;
    margin: auto;
    height: 150px;
    width: 240px;
}

/*End Landing*/

/*Start Features*/
.features .icon-holder{
    height: 200px;
}

.features .icon-holder svg{
    left: 50%;
    transform: translateX(-50%);
}

.features .icon-holder .icon{
    font-size: 12rem;
    color: var(--section-color);
}

.features .feat h4{
    color: var(--darkBlue-color);
}
/*End Features*/
.wrapper{
    background: #ececec;
    padding: 0 20px 0 20px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.side-image{
    background-image: url("OCT.jpeg");
    background-position: center;
}

.img{
    width: 35px;
    position: absolute;
    top: 30px;
    left: 30px;
}